@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Contact</h1>
<br />
<h7>If you have some kind of problem please send as a mail </h7>